.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 0 20px;

    height: 100 dvh;
    width: 100 dvw;
    color: #49444C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.attributes {
    width: calc(100% - 10px);
    min-width: 300px;

    height: 45px;
    padding: 5px;

    border-radius: 10px;
    // width: 335px;
    border: 0.5px solid #9C89B8;
    color: #49444C;

    &:hover {
        border-color: #49444C;
        background-color: #fffff4;

    }

}


.section {
    align-self: start;

    margin: 5px 0;
    padding: 15px;

    font-weight: 600;

}

.new-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 100%;

    // row-gap: 5px;
}

.new-task__name {
    row-gap: 10px;
}

.new-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: calc(100% - 10px);
    min-width: 300px;
    // width: 100%;
    max-width: 767px;

}


.new-task__task {
    width: calc(100% - 20px);
    min-width: calc(300px - 10px);
    padding: 0 0 0 10px;
    outline: none;
    border: 0.5px solid #9C89B8;

    &.description {

        // width: calc(100% - 40px - 10px);
        // min-width: calc(300px - 10px);

        min-height: 100px;
        padding-top: 10px;
        border-radius: 10px;
        resize: none;

    }

    &::placeholder {
        color: rgb(177, 174, 174);
    }

    &:hover {
        border-color: #49444C;
        background-color: #fffff4;

    }
}


.add-btn {
    width: 300px;

    margin-top: 50px;
    height: 50px;

    background-color: #9C89B8;
    color: white;
    border: 0.5px solid white;
    border-radius: 10px;
    font-weight: 600;

    &:hover {
        background-color: #6d5f83;
        border: 0.5px solid rgb(177, 174, 174);
        cursor: pointer;
    }
}




.btn-color {

    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    // margin: 0 10px;

    border-radius: 7px;
    // border: 0.5px solid white;

    >input {
        opacity: 0;
        cursor: pointer;
    }

    // padding: 0;

    &:hover {
        outline: 1px solid rgb(177, 174, 174);
        cursor: pointer;
    }

    &.choice {
        outline: 3px solid #c3bfcb;
        cursor: pointer;
    }


    &.yellow {
        background-color: #FFF6BD;
    }

    &.green {
        margin-left: 0;
        background-color: #CEEDC7;
    }

    &.red {
        background-color: #FF9494;
    }

    &.orange {
        background-color: #FFD4B2;
    }

    &.blue {
        background-color: #D7E3FC;
    }

    &.pink {
        margin-right: 0;
        background-color: #FFC8DD;
    }


}



.buttons-color {
    display: flex;
    flex-wrap: wrap;
    // min-width: 300px;
    align-self: start;
    padding-left: 25px;
    gap: 10px;

    @media screen and (max-width: 410px) {
        max-width: 180px;
        padding: 0;
    }

}




.list-wrapper {
    display: flex;
    width: 100%;
    min-width: 300px;

    align-items: center;
    column-gap: 20px;
}

.list-status {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 35px;
    min-width: 35px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;




    >input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
        z-index: -1;
        //    visibility: hidden;
    }

    &.yellow {
        border-color: #FFF6BD;

        &.checked {
            background-color: #FFF6BD;
        }
    }

    &.green {
        border-color: #CEEDC7;

        &.checked {
            background-color: #CEEDC7;
        }
    }

    &.red {
        border-color: #FF9494;

        &.checked {
            background-color: #FF9494;
        }
    }

    &.orange {
        border-color: #FFD4B2;

        &.checked {
            background-color: #FFD4B2;
        }
    }

    &.blue {
        border-color: #D7E3FC;

        &.checked {
            background-color: #D7E3FC;
        }
    }

    &.pink {
        border-color: #FFC8DD;

        &.checked {
            background-color: #FFC8DD;
        }
    }

    &:hover {


        min-height: 39px;
        min-width: 39px;
        height: 39px;
        width: 39px;

        border: 1px solid rgb(178, 173, 182);

        cursor: pointer;
    }
}

.list {

    display: flex;
    align-items: center;
    width: 100%;

    border: 0.5px solid white;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px 0;
    height: 45px;



    &:hover {
        border: 0.5px solid rgb(178, 173, 182);
        cursor: pointer;
    }
}


.to-do-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}